<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="/assets/build/css/main.css">
    </head>
    <body>
        <style>
    thead th:first-child {
        border-top-left-radius: 0.5rem;
    }

    thead th:last-child {
        border-top-right-radius: 0.5rem;
    }
</style>

<div class="my-16 mx-10">
    <div class="flex justify-between">
        <div class="w-1/2">
            <img src="/assets/images/invoiceninja-logo.png" alt="Company logo" class="w-40">
        </div>
        <div class="flex justify-end">
            <div class="flex flex-col text-gray-600">
                <span>Ninja Sample</span>
                <span>Contact@InvoiceNinja.com</span>
                <span>1-800-555-Ninja</span>
            </div>
            <div class="flex flex-col text-gray-600 ml-8">
                <span>123 Ninja Blvd.</span>
                <span>NinjaLand, 87315</span>
                <span>United States</span>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-between mt-24">
        <div class="w-1/2 flex flex-col">
            <span>Invoice issued to</span>
            <section class="text-orange-600 mt-2 flex flex-col">
                <span class="font-semibold">Winterfield Medical Supply</span>
                <span>65 Medical Complex Rd., D98</span>
                <span>Atlanta, GA 22546</span>
                <span>United States</span>
                <span>demo@invoiceninja.com</span>
            </section>
        </div>
        <div class="bg-orange-600 px-4 py-4 h-auto rounded-lg">
            <div class="w-64 flex justify-between text-white">
                <div class="flex flex-col mr-5">
                    <span>Invoice Number</span>
                    <span>Invoice Date</span>
                    <span>Due Date</span>
                    <span>Balance Due</span>
                </div>
                <div class="flex flex-col text-right">
                    <span class="font-semibold" id="invoice.number">00984</span>
                    <span id="invoice.date">Sep 8, 2014</span>
                    <span id="due.date">Nov 9, 2014</span>
                    <span id="balance.due">$1,838.80</span>
                </div>
            </div>
        </div>
    </div>
    <table class="w-full table-auto mt-20 rounded">
        <thead class="text-left rounded-t-lg">
            <tr>
                <th class="font-semibold text-white px-4 bg-blue-900 py-5">Item</th>
                <th class="font-semibold text-white px-4 bg-blue-900 py-2">Description</th>
                <th class="font-semibold text-white px-4 bg-blue-900 py-2 text-right">Unit Cost</th>
                <th class="font-semibold text-white px-4 bg-blue-900 py-2 text-right">Quantity</th>
                <th class="font-semibold text-white px-4 bg-blue-900 py-2 text-right">Line Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ref="item" class="border-4 border-white text-orange-700 px-4 py-4 bg-gray-200">Painting Service</td>
                <td ref="description" class="border-4 border-white px-4 py-4 bg-gray-200">25 hours painting</td>
                <td ref="unit.cost" class="border-4 border-white text-right px-4 py-4 bg-gray-200">885.00</td>
                <td ref="quantity" class="border-4 border-white text-right px-4 py-4 bg-gray-200">1</td>
                <td ref="line.total" class="border-4 border-white text-orange-700 text-right px-4 py-4 bg-gray-200">$885.00</td>
            </tr>
            <tr>
                <td ref="item" class="border-4 border-white text-orange-700 px-4 py-4 bg-gray-200">Repair Service</td>
                <td ref="description" class="border-4 border-white px-4 py-4 bg-gray-200">Sanding and painting dresser</td>
                <td ref="unit.cost" class="border-4 border-white text-right px-4 py-4 bg-gray-200">170.00</td>
                <td ref="quantity" class="border-4 border-white text-right px-4 py-4 bg-gray-200">1</td>
                <td ref="line.total" class="border-4 border-white text-orange-700 text-right px-4 py-4 bg-gray-200">$170.00</td>
            </tr>
            <tr>
                <td ref="item" class="border-4 border-white text-orange-700 px-4 py-4 bg-gray-200">Painting Service</td>
                <td ref="description" class="border-4 border-white px-4 py-4 bg-gray-200">25 hours painting</td>
                <td ref="unit.cost" class="border-4 border-white text-right px-4 py-4 bg-gray-200">885.00</td>
                <td ref="quantity" class="border-4 border-white text-right px-4 py-4 bg-gray-200">1</td>
                <td ref="line.total" class="border-4 border-white text-orange-700 text-right px-4 py-4 bg-gray-200">$885.00</td>
            </tr>
            <tr>
                <td ref="item" class="border-4 border-white text-orange-700 px-4 py-4 bg-gray-200">Repair Service</td>
                <td ref="description" class="border-4 border-white px-4 py-4 bg-gray-200">Sanding and painting dresser</td>
                <td ref="unit.cost" class="border-4 border-white text-right px-4 py-4 bg-gray-200">170.00</td>
                <td ref="quantity" class="border-4 border-white text-right px-4 py-4 bg-gray-200">1</td>
                <td ref="line.total" class="border-4 border-white text-orange-700 text-right px-4 py-4 bg-gray-200">$170.00</td>
            </tr>
            <!-- <tr>
                <td colspan="3" ref="note" class="px-4 py-4 rounded-l-lg bg-gray-200">Passed Car Inspection. Vehicle overall in good condition. <br> Return for tune up for 10 months to 1 year.</td>
                <td ref="quantity" class="px-4 py-4 bg-gray-200">
                    <p>Subtotal</p>
                    <p>Discount 5%</p>
                    <p>Paid to Date</p>
                </td>
                <td ref="line.total" class="px-4 py-4 text-right rounded-r-lg bg-gray-200">
                    <p>$1,161.00</p>
                    <p>$58.05</p>
                    <p>$0.00</p>
                </td>
            </tr>
            <tr>
                <td colspan="5" ref="terms" class="px-4 py-4">
                    <p ref="terms" class="font-semibold">Terms</p>
                    <p>All repairs guaranteed for up to 6 months. Please call us with <br> any questions or concerns regarding repairs or any other issues.</p>
                </td>
            </tr>
            <tr>
                <td colspan="3" ref="terms" class="px-4 py-4"></td>
                <td ref="terms" class="bg-blue-900 px-4 py-3 rounded-l-lg">
                    <span class="text-white">Balance Due</span>
                </td>
                <td ref="terms" class="bg-blue-900 px-4 py-3 text-right rounded-r-lg">
                    <span class="text-white">$3,060.00</span>
                </td>
            </tr> -->
        </tbody>
    </table>
    <div class="flex items-center justify-between px-4 pb-4 bg-gray-200 rounded py-2">
        <div class="w-1/2">
            <div class="flex flex-col">
                <p>Wedding photos will be available approximately 1 month after the wedding date. Thank you for your patience!</p>
            </div>
        </div>
        <div class="w-1/3 flex flex-col">
            <div class="flex px-3 mt-2">
                <section class="w-1/2 text-right flex flex-col">
                    <span>Subtotal</span>
                    <span>Discount</span>
                    <span>Paid To Date</span>
                </section>
                <section class="w-1/2 text-right flex flex-col">
                    <span>$0</span>
                    <span>$0</span>
                    <span>$0</span>
                </section>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-between mt-4 pb-4 px-4">
        <div class="w-1/2">
            <div class="flex flex-col">
                <p class="font-semibold">Terms</p>
                <p>Wedding photos will be available approximately 1 month after the wedding date. Thank you for your patience!</p>
            </div>
        </div>
        <div class="flex w-2/5 flex-col">
            <section class="flex py-2 bg-blue-900 px-4 py-3 rounded text-white">
                <p class="w-1/2">Balance Due</p>
                <p class="text-right w-1/2">$0.00</p>
            </section>
        </div>
    </div>
</div>

    </body>
</html>
